name: CI for Windows

on:
  pull_request:
  push:
    branches: [main]

jobs:

  build:
    runs-on: windows-2019

    steps:
    - name: Prepare git
      run: git config --global core.autocrlf false

    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Checkout dummy repo
      uses: actions/checkout@v2
      with:
        repository: seachicken/can
        path: ci-test
        fetch-depth: 0

    - name: Test
      working-directory: ./ci-test
      run: |
        foreach ($branch in $(git branch --all | findstr /r '\<\s*remotes' | findstr /v /r 'main$')) {
          git branch --track $(echo $branch | Select-String -Pattern '.+/(.+$)' | %{$_.matches.groups[1].Value}) "$branch".trim()
        }
        echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
        go test .. -v

