name: CI

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

jobs:

  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: unit
        token: ${{ secrets.CODECOV_TOKEN }}

  e2e-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Checkout dummy repo
      uses: actions/checkout@v4
      with:
        repository: seachicken/can
        path: ci-test
        fetch-depth: 0

    - name: Test
      working-directory: ./ci-test
      run: |
        for branch in $(git branch --all | grep '^\s*remotes' | egrep --invert-match 'main$')
        do
          git branch --track "${branch##*/}" "$branch"
        done
        echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
        go test -C .. -run=E2E -tags=e2e -v -race -coverprofile=coverage.out -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: e2e
        token: ${{ secrets.CODECOV_TOKEN }}
