name: Contract Test

on:
  schedule:
    - cron: '0 15 * * *'

jobs:

  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - run: sudo add-apt-repository ppa:git-core/ppa
    - run: sudo apt-get update

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: |
        sudo apt-get install git
        unzip conn/fixtures/repo_basic.zip -d conn/fixtures
        go test -v ./conn

